#cloud-config
users:
  - name: mak3r
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: mak3r, users, admin
  - name: root
    passwd: root
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDdhQdlXKmb/uYCWcQAs/rXt8leA/8G1LJcZKu+lTpvopcIaPgGHYfQ6ydFQrW6fnhCSRUrdS25JswA3BPXW5CYE6K44htKUrC+krQ6lvMd30ReKdtNWFVuLyAVN0cXyOeNzBgqerjk4gukPdKqScsumljFj4iN0w+eVOzceAQNxcJVD/Zp0u756qySlx6LeMnUviwtBlRqOiuGWyqb339w7geBTEqns0A4212FUfv0wQM36FgNMMPFskroQTMqvW5nVmf+Ng581yrp6heSMQX0/xwt/sWM9+QOgC+EpD3xj1SbdPbUOMCRr3q8L3w75UFdmmwh18ig2fyuvY3Vf4nx
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC/4vVlIbPrvtlZfnOHja8XVjZuVldojJQIz+/ms8PFifdmKqcFaoKNQnTJJ1uERcUkhruNMi9gk9R+bpjZZHfI0pcfWc+qWTaXMGmvGmuJRnryUMgUTW+uUAdRp5lgnybyh6XYXz3DIVElwzelRbuuhSTstyCHZDaO5NjirkeMUiL58S4DQZguyRuSIeT6L8j+uMuvrZSc2c4b/bMJ+nmhpHQNdTd5aZFpyXRIjSGBMGTXNTeKgVkbKqkf2hLNmo7gjAHd6zwM/1xJWFSqA5Jo5LDhl/gyy369oTZ7dhA/CzaStwE+BRu+yz/w/Qrm1mbXYDOb2zYSVRVWrgVPTBblPc0yybGM0OO+qQw8NQU+nWUFOs059kckWC/P3kGvW/wtfNQ3S+IvV3+HzTaVWW8tk7Hj3h4D7KFZDgRNYGYK3DnYjBJHnR/CC+eL2niC2NS66uB75aBnfLiAXvEV4cx6KqJ9DcVTVGOYKWgkX/MheMxwhM//pzQgzhBMzzxTsc0= suse-mak3r@zephyrus
ssh_import_id:
  - gh:mak3r
